{% extends 'core/base.html' %}

<br />

{% block title %} About {% endblock %}

<br />
{% block meta %} <br />
<meta name="description" content="MomorPet is the best online store" />
<meta name="author" content="momorPet will" />
<meta property="og:title" content="MomorPet | About" />
<meta property="og:description" content="MomorPet is the best online store" />
<meta property="og:type" content="article" />
<meta property="og:type" content="http://momorpet.com/about/" />
{% endblock %} {% block content %}
<h1>About</h1>
{% endblock %}
